@import '~antd/dist/antd.css';

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  font-family: "Quicksand";
}

html, body {
  box-sizing: border-box;
  max-width: 100vw !important;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: 'Quicksand';
  margin: 0; 
  height: 100%; 
  overflow: hidden
}

.site-layout-content{
  min-height: 85vh; 
  background-color: #FFFFFF ;
  padding: 2vw;
  align-items: center;
  justify-content: center;
}

.site-layout-first{
  background-color: #FFFFFF ;
  align-items: center;
  justify-content: center;
}

.site-layout-second{
  background-color: #FFFFFF ;
  min-height: 80vh; 
  padding: 2vw;
  align-items: center;
  justify-content: center;
}

.form-login{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left {
  margin-right: auto;
}

.left img {
  width: 120px;
}

.login-form {
  min-width: 300px;
  max-width: 500px;
}

.login-form-button {
  width: 100%;
}

.green-button{
  background-color: #39CC9F;
  border: none;
}

.green-button:hover{
  background-color: #4CBB7F;
}

iframe {
  width:100%;
  height: 100%;
  overflow: hidden;
}

.chapter-sider{
  background: #F5F5F5 0% 0% no-repeat padding-box;
}

